<label class="content-header">Exams</label>
<hr />
<p class="content-paragraph">No records for exams are currently available.</p>

<label class="content-header">Physical education</label>
<hr />
<p class="content-paragraph">Registration for physical education is currently closed. Please visit Centrum Sportu PŁ
90-924 Łódź, al. Politechniki 11 to get enrolled.</p>
<!-- <mat-form-field appearance="fill">
    <mat-label>Semester</mat-label>
    <mat-select>
        <mat-option value="1">Football</mat-option>
        <mat-option value="2">Voleyball</mat-option>
        <mat-option value="3">Tennis</mat-option>
        <mat-option value="4">Judo</mat-option>
        <mat-option value="5">Swimming</mat-option>
    </mat-select>
</mat-form-field> -->