<label class="content-header">Additional courses</label>
<hr />
<table mat-table [dataSource]="additionalDataSource" class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="courseNo">
        <th mat-header-cell *matHeaderCellDef> Course no. </th>
        <td mat-cell *matCellDef="let element"> {{element.courseNo}} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Course name </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>

    <ng-container matColumnDef="tutor">
        <th mat-header-cell *matHeaderCellDef> Tutor </th>
        <td mat-cell *matCellDef="let element"> {{element.tutor}} </td>
    </ng-container>

    <ng-container matColumnDef="minMaxAttendees">
        <th mat-header-cell *matHeaderCellDef> Min/Max attendees </th>
        <td mat-cell *matCellDef="let element"> {{element.ects}} </td>
    </ng-container>

    <ng-container matColumnDef="enrolledStudents">
        <th mat-header-cell *matHeaderCellDef> Enrolled students </th>
        <td mat-cell *matCellDef="let element"> {{element.grade1}} </td>
    </ng-container>

    <ng-container matColumnDef="ects">
        <th mat-header-cell *matHeaderCellDef> ECTS </th>
        <td mat-cell *matCellDef="let element"> {{element.grade2}} </td>
    </ng-container>

    <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semester </th>
        <td mat-cell *matCellDef="let element"> {{element.grade3}} </td>
    </ng-container>

    <ng-container matColumnDef="choose">
        <th mat-header-cell *matHeaderCellDef> Choose </th>
        <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedAdditionalColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedAdditionalColumns;"></tr>
</table>

<div style="height: 25px;"></div>

<label class="content-header">Elective courses</label>
<hr />
<table mat-table [dataSource]="electiveDataSource" class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="courseNo">
        <th mat-header-cell *matHeaderCellDef> Course no. </th>
        <td mat-cell *matCellDef="let element"> {{element.courseNo}} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Course name </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>

    <ng-container matColumnDef="tutor">
        <th mat-header-cell *matHeaderCellDef> Tutor </th>
        <td mat-cell *matCellDef="let element"> {{element.tutor}} </td>
    </ng-container>

    <ng-container matColumnDef="minMaxAttendees">
        <th mat-header-cell *matHeaderCellDef> Min/Max attendees </th>
        <td mat-cell *matCellDef="let element"> {{element.minMaxAttendees}} </td>
    </ng-container>

    <ng-container matColumnDef="enrolledStudents">
        <th mat-header-cell *matHeaderCellDef> Enrolled students </th>
        <td mat-cell *matCellDef="let element"> {{element.enrolledStudents}} </td>
    </ng-container>

    <ng-container matColumnDef="ects">
        <th mat-header-cell *matHeaderCellDef> ECTS </th>
        <td mat-cell *matCellDef="let element"> {{element.ects}} </td>
    </ng-container>

    <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semester </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
    </ng-container>

    <ng-container matColumnDef="choose">
        <th mat-header-cell *matHeaderCellDef> Choose </th>
        <td mat-cell *matCellDef="let element"> {{element.choose}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedElectiveColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedElectiveColumns;"></tr>
</table>