<label class="content-header">Basic information</label>
<hr />
<table class="basic-table">
    <tr>
        <td>Faculty:</td>
        <td>International Faculty of Engineering</td>

        <td>Mode of study:</td>
        <td>stationary</td>
    </tr>
    <tr>
        <td>Course:</td>
        <td>Computer Science</td>

        <td>Length of studies:</td>
        <td>3,5 years</td>
    </tr>
    <tr>
        <td>Speciality:</td>
        <td>none</td>

        <td>Is main index set:</td>
        <td>yes</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Main index:</td>
        <td>123456</td>
    </tr>
</table>

<label class="content-header">Data valid</label>
<hr />
<table class="basic-table">
    <tr>
        <td>Current year:</td>
        <td>3</td>

        <td>Academic semester:</td>
        <td>2021/22 Z</td>
    </tr>
    <tr>
        <td>Current semester:</td>
        <td>5</td>

        <td>Status:</td>
        <td>full registration</td>
    </tr>
    <tr>
        <td>Annual registration:</td>
        <td>full</td>

        <td>Semster qualification:</td>
        <td>positive</td>
    </tr>
</table>

<label class="content-header">Mean grade</label>
<hr />
<table class="basic-table">
    <tr>
        <td>Grade for semester:</td>
        <td>0.0</td>

        <td>ECTS achieved/total:</td>
        <td>120/150</td>
    </tr>
    <tr>
        <td>Total grade for studies:</td>
        <td>4.62</td>

        <td></td>
        <td></td>
    </tr>
</table>