<div class="mat-accoridon-container">
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Technical University of Lodz statute
            </mat-panel-title>
        </mat-expansion-panel-header>
            <a href="https://politechnikalodzka.ssdip.bip.gov.pl/dane-teleadresowe/dane-teleadresowe.html">Technical University of Lodz statute</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Regulations
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://p.lodz.pl/studenci/dokumenty/regulamin-studiow-w-pl">
            Rules of studies for bachelor and master degree students in Technical University of Lodz</a><br>
        <a href="https://p.lodz.pl/doktoranci/studia-doktoranckie/regulamin-studiow-doktoranckich-rozpoczetych-przed-r-akadem-201819">
            Rules of studies for PhD students in Technical University of Lodz</a>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ordinance
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://webdziekanat.p.lodz.pl/webdziekanat/statuty_regulaminy_zarzadzenia.html#">
            Zarządzenia Rektora Nr 15/2010 w sprawie zasad organizacji i korzystania z poczty elektronicznej</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Material assistance
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="https://p.lodz.pl/studenci/wsparcie/dzial-spraw-studenckich-i-sekcja-obslugi-swiadczen">
            Material assistance for bachelor and master degree students</a><br>
        <a href="https://p.lodz.pl/studenci/wsparcie/dzial-spraw-studenckich-i-sekcja-obslugi-swiadczen">
            Material assistance for PhD students</a>
    </mat-expansion-panel>
</mat-accordion>
</div>