<label class="content-header">Balance of payments</label>
<hr />
<table class="single-table">
    <tr>
        <td>Excess payment:</td>
        <td>0 zł</td>
    </tr>
</table>

<label class="content-header">Excess payment</label>
<hr />
<table class="single-table">
    <tr>
        <td>Excess payment for album no. 123456:</td>
        <td>0 zł</td>
    </tr>
</table>

<label class="content-header">Bank account</label>
<hr />
<table class="single-table">
    <tr>
        <td>Account number for album no. 123456:</td>
        <td>0000 1111 2222 3333 4444 5555 66</td>
    </tr>
</table>

<label class="content-header">Fee rates</label>
<hr />
<table class="basic-table">
    <tr>
        <td>Faculty:</td>
        <td>International Faculty of Engineering</td>

        <td>Price for 1 ECTS:</td>
        <td>80 zł</td>
    </tr>
    <tr>
        <td>Course:</td>
        <td>Computer Science</td>

        <td>Repetition basic fee:</td>
        <td>0 zł</td>
    </tr>
    <tr>
        <td>Mode of study:</td>
        <td>stationary</td>

        <td>Max fee for semester:</td>
        <td>0 zł</td>
    </tr>
</table>

<label class="content-header">History of fees</label>
<hr />
<table mat-table [dataSource]="feesDataSource" class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semester </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <ng-container matColumnDef="transfer">
        <th mat-header-cell *matHeaderCellDef> Transfer type </th>
        <td mat-cell *matCellDef="let element"> {{element.transfer}} </td>
    </ng-container>

    <ng-container matColumnDef="afterOperation">
        <th mat-header-cell *matHeaderCellDef> Funds after operation </th>
        <td mat-cell *matCellDef="let element"> {{element.afterOperation}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedFeesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedFeesColumns;"></tr>
</table>

<div style="height: 20px;"></div>
<label class="content-header">Granted scholarships</label>
<hr />
<table class="single-table">
    <tr>
        <td>Bank account for scholarship transfer:</td>
        <td><input value="6666 5555 4444 3333 2222 11" style="width: 185px;"/></td>
    </tr>
</table>
<table mat-table [dataSource]="scholarshipDataSource" class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semester </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedSholarshipColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedSholarshipColumns;"></tr>
</table>