<mat-form-field appearance="fill">
    <mat-label>Semester</mat-label>
    <mat-select [(value)]="selectedSemester">
        <mat-option value="1">1 - Winter 2019/20</mat-option>
        <mat-option value="2">2 - Spring 2019/20</mat-option>
        <mat-option value="3">3 - Winter 2020/21</mat-option>
        <mat-option value="4">4 - Spring 2020/21</mat-option>
        <mat-option value="5">5 - Winter 2021/22</mat-option>
    </mat-select>
</mat-form-field>
<hr />
<table class="basic-table">
    <tr>
        <td>Mean grade:</td>
        <td>0.0</td>

        <td>Card pass:</td>
        <td>no</td>
    </tr>
    <tr>
        <td>ECTS achieved/total:</td>
        <td>0/30</td>

        <td>Index in deadline:</td>
        <td>no</td>
    </tr>
</table>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="courseNo">
        <th mat-header-cell *matHeaderCellDef> Course no. </th>
        <td mat-cell *matCellDef="let element"> {{element.courseNo}} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Course name </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
    </ng-container>

    <ng-container matColumnDef="tutor">
        <th mat-header-cell *matHeaderCellDef> Tutor </th>
        <td mat-cell *matCellDef="let element"> {{element.tutor}} </td>
    </ng-container>

    <ng-container matColumnDef="ects">
        <th mat-header-cell *matHeaderCellDef> ECTS </th>
        <td mat-cell *matCellDef="let element"> {{element.ects}} </td>
    </ng-container>

    <ng-container matColumnDef="grade1">
        <th mat-header-cell *matHeaderCellDef> Grade 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.grade1}} </td>
    </ng-container>

    <ng-container matColumnDef="grade2">
        <th mat-header-cell *matHeaderCellDef> Grade 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.grade2}} </td>
    </ng-container>

    <ng-container matColumnDef="grade3">
        <th mat-header-cell *matHeaderCellDef> Grade 3 </th>
        <td mat-cell *matCellDef="let element"> {{element.grade3}} </td>
    </ng-container>

    <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef> Paid </th>
        <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>