<div class="mat-accoridon-container">
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Accommodation in a student dormitory
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)="window.location.href='https://webdziekanat.p.lodz.pl/domy-studenckie-web/';">Open an application form<mat-icon>language</mat-icon></button>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Material support
            </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button (click)="window.location.href='https://webdziekanat.p.lodz.pl/podania-web/';">Open an application form<mat-icon>language</mat-icon></button>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Paper forms
            </mat-panel-title>
        </mat-expansion-panel-header>

        <table class="forms-table">
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
            <tr>
                <td><a href="">A commission exam</a></td>
                <td>Application for consent to an exam in the subject before an examination board.</td>
            </tr>
            <tr>
                <td><a href="https://webdziekanat.p.lodz.pl/webdziekanat/formularze_podan.html#">Individual organization of studies</a></td>
                <td>Application for consent to the individual organization of IOZ studies.</td>
            </tr>
            <tr>
                <td><a href="https://webdziekanat.p.lodz.pl/webdziekanat/formularze_podan.html#">Individual study plan</a></td>
                <td>Application for consent to study according to an individual study plan and IPS curriculum. (from 01/10/2019)</td>
            </tr>
        </table>
    </mat-expansion-panel>
</mat-accordion>
</div>