.forms-table {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
    table-layout: fixed;
    border-collapse: collapse;
}

.forms-table>tr:nth-child(1) {
    font-weight: bold;
}

.forms-table>tr:nth-child(2n) {
    background-color: rgb(218, 218, 218);
}