
<div class="mat-accoridon-container">
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                General information
            </mat-panel-title>
            <mat-panel-description>
                Information on faculty, registration and general grade
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-student-general></app-student-general>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Report card
            </mat-panel-title>
            <mat-panel-description>
                Detailed information on grades
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <!-- <label style="margin-right: 10px;">Semester</label> -->
        <app-student-report></app-student-report>

    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Courses
            </mat-panel-title>
            <mat-panel-description>
                Elective and additional courses
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-student-courses></app-student-courses>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Fees and scholarships
            </mat-panel-title>
            <mat-panel-description>
                Pending fees, history of fees, scholarships and bank account
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-student-fees></app-student-fees>
    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Records
            </mat-panel-title>
            <mat-panel-description>
                Records for P.E. and exams
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-student-records></app-student-records>
    </mat-expansion-panel>
</mat-accordion>
</div>