.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  background-color: #8b0002;
  top: 0;
  z-index: 1;
}

.flexExpand {
  flex: 1 1 auto;
}

.pl-logo {
  object-fit: cover;
}

.svg-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.resize {
  width: auto;
  height: 100%;
}