<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="assets/pl_logo.svg" class="resize"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/student">Student</a>
      <a mat-list-item routerLink="/regulations">Regulations</a>
      <a mat-list-item routerLink="/applications">Applications</a>
      <a mat-list-item href="https://p.lodz.pl/studenci/podzial-roku-akademickiego">Terms<mat-icon>language</mat-icon></a>
      <a mat-list-item href="https://programy.p.lodz.pl/ectslabel-web/">Course catalogue<mat-icon>language</mat-icon></a>
      <a mat-list-item href="https://edu.p.lodz.pl/">Back to WIKAMP<mat-icon>language</mat-icon></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>WebDziekanat</span>
      <span class="flexExpand"></span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon>Jan Kowalski</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Log out</button>
      </mat-menu>

      <!-- <button mat-button><mat-icon>account_circle</mat-icon>Jan Kowalski</button> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
