/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.basic-table {
    width: 100%;
    margin-left: 2%;
    margin-bottom: 15px;
    table-layout: fixed;
    border-collapse: collapse;
}

.basic-table>tr {
    border: none;
}

.basic-table>tr>td:nth-child(2n) {
    font-weight: bold;
}

.basic-table>tr>td:nth-child(2) {
    border-right: solid 1px rgb(180, 180, 180);
}

.single-table {
    width: 100%;
    margin-left: 2%;
    margin-bottom: 15px;
    table-layout: fixed;
}

.single-table>tr>td:nth-child(2n) {
    font-weight: bold;
}

.single-table>tr>td:nth-child(2n-1) {
    text-align: right;
    padding-right: 2%;
}

mat-panel-title {
    font-size: 20px;
}

.content-header {
    font-size: 16px;
    /* font-weight: bold; */
}

mat-accordion {
}

.mat-accoridon-container {

    margin: 1rem;
}